ion-grid{
  --ion-grid-padding: 0px;
}

ion-col > .title {
  background-color: var(--ion-color-primary);
  text-align: center;
}

ion-col > .default {
    background-color: var(--ion-color-tertiary);
    text-align: center;
}

ion-col > .alert {
  background-color: var(--ion-color-secondary);
  text-align: center;
}

ion-col > .miss {
  background-color: var(--ion-color-danger);
  text-align: center;
}

.grid-head{
  position: fixed;
  left: 0;
  right: 0;
  height: 80px !important;
}

.grid-detail{
  position: fixed;
  left: 0;
  right: 0;
  top: 80px !important;
  height: 88% !important;
}