ion-grid{
  --ion-grid-padding: 0px;
}

ion-col > .title {
  background-color: #ff9973;
  border: solid 1px #ff7f50;
  padding: 5px;
  text-align: center;
}

ion-col > div {
    background-color: #ffd9ca;
    border: solid 1px #ff7f50;
    padding: 5px;
    text-align: center;
}

hr{
  height: 5px;
  background-color: var(--ion-color-secondary);
}

.grid-head{
  position: fixed;
  left: 0;
  right: 0;
  top: 50px !important;
  height: 40px !important;
}

.grid-detail{
  position: fixed;
  left: 0;
  right: 0;
  top: 90px !important;
  height: 85% !important;
}