<ion-content>
  <div (click)="goBack()" class="button-round-left-giraffe about-back-button-giraffe">
    <ion-img src="assets/icon/back.svg" class="img"></ion-img>
  </div>
  <div class="about-text-giraffe">Giraffe Counter
    <br /><br />
<span class="about-content-giraffe">Es una aplicación Open Source desarrollada por Fiive Studio bajo la licencia Apache 2.0.<br /><br />
Explora el código fuente en <a (click)="openWindow('https://github.com/Fiive-Studio/giraffe-counter')">GitHub</a>.<br /><br />
Síguenos en la redes como <a (click)="openWindow('https://www.instagram.com/fiivestudio/')">@fiivestudio</a><br /><br />
Algunos de los iconos utilizados en la aplicación fueron creados por <a (click)="openWindow('https://www.flaticon.com/authors/roundicons')">Roundicons</a> y <a (click)="openWindow('https://www.flaticon.com/authors/freepik')">Freepik</a> los cuales están publicados en el sitio web <a (click)="openWindow('https://www.flaticon.com/')">Flaticon</a></span>
  </div>
  <div class="about-footer-giraffe">
    <div class="info">
      <ion-img src="assets/img/logo_fiive.png" class="img"></ion-img>
    </div>
    <ion-img src="assets/icon/giraffe.svg" class="img-giraffe"></ion-img>
    <ion-img src="assets/icon/logo_text.svg" class="logo"></ion-img>
  </div>
</ion-content>