<ion-content class="content-center-giraffe">

  <div class="outer">
    <div class="middle">
      <div class="inner">
        <ion-img src="assets/icon/giraffe.svg" class="logo"></ion-img>
        <div class="content-round-giraffe">
          <div class="title">Jugadores</div>
          <ion-item *ngFor="let p of playersService.getCount(); let i = index">
            <ion-input required type="text" class="ion-text-start" (ionBlur)="playerChange($event, i)" value="{{playersService.getPlayers()[i]}}" placeholder="Jugador {{i+1}}"></ion-input>
          </ion-item>
        </div>
        <br />
        <div (click)="goBack()" class="button-round-left-giraffe">
          <ion-img src="assets/icon/back.svg" class="img"></ion-img>
        </div>
        <div (click)="goToResults()" class="button-round-right-giraffe">
          <ion-img src="assets/icon/next.svg" class="img"></ion-img>
        </div>
      </div>
    </div>
  </div>
  
  <app-footer></app-footer>

</ion-content>